.card {
    width: 200px;
    margin: 15px;
    border: 1px solid hotpink;
    box-shadow: 2px 2px 4px rgba(50,50,50, 0.5);
    transition: 0.5s all;
    padding: 0;
}

.card:hover {
    margin-top: 20px;
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(50,50,50, 0.5);
    padding: 15px;
}

.small {
    composes: card;
    width: 40px;
    height: 40px;
    font-size: 0.5rem;
}

:global(.green) {
    color: green
}