body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button { 
  margin: 15px;
  background-color: unset;
  font-family: monospace;
  padding: 15px;
  border: 0;
  box-shadow: 5px 5px 1px pink, -5px -5px 1px purple;
  transition: all 0.5s;
}

.button:hover {
  box-shadow: 7px 7px 1px purple, -7px -7px 1px pink;
}

.button:active {
  box-shadow: 2px 2px 2px purple;
  background-color: pink;
}
