
.buttonWrapper {
    display: flex;
    margin: 0 300px
}

.button {
    position: absolute;
    color: black;
    z-index: 5;
    background-color: transparent;
    height: 150px;
    width: 100px;
    border: none;
    margin: 15px;
    transition: all 0.5s;
}

.buttonLower {
    position: absolute;
    margin: 10px;
    z-index: 4;
    height: 145px;
    width: 95px;
    border: 5px solid hotpink;
    transition: all 0.5s;
}

.buttonUpper {
    position: absolute;
    margin: 15px;
    z-index: 4;
    height: 145px;
    width: 95px;
    border: 5px solid blue;
    transition: all 0.5s;
}

.buttonWrapper:hover div:nth-child(1){
    transform: rotate3d(0, 1, 0, 45deg) translate(-100px, -10px);
}

.buttonWrapper:hover button{
    transform: rotate3d(0, 1, 0, -45deg);
}

.buttonWrapper:hover div:nth-child(3){
    transform: rotate3d(0, 1, 0, 45deg) translate(100px, 10px);
}

